<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <h1>Whoosh</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Jobs" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let job of jobList">
            <a [routerLink]="['/jobcontent/',job.id]" routerLinkActive="router-link-active">{{job.name}}:{{job.id}}</a>
          </li>
        </ul>
      </li>
      <button (click)="createJob()" nz-button class="login-form-margin" [nzType]="'danger'">Add job</button>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>